<h2>
Menatoz（メネートス）は様々なプロジェクトに取り組み、夢を現実にするためのサポートや実践を行う会社です。
<h2>

<hr>
<h3>Menatoz, Inc.は２人の男たちによって創設されました。</h3>
<hr>
<br><br>


<font style="padding:6px 10px; background:#ff9933; color:#ffffff; font-weight:bold;">
  ZEN （ぜん）
</font>
<div style="border:1px solid #ff9933; padding:10px; font-size:0.9em; margin-top:2px;">
  <p>
  １９８０年生まれ。東京大学大学院卒。
  </p>
  <p>
卒業後、メーカー系企業にて組み込みエンジニア、ソフトウェアエンジニアとして経験を積み、その間に米国テキサス州にて海外勤務の経験をしました。
<br>その後、大手Web系 IT企業にてインフラエンジニアとして、年商１５００億円、月間１００億PVのシステムの根幹を支えてきた経験があります。
  </p>
  <p>
Webサービスのマーケティング目的から、統計分析システムを全社のシステムに導入して社内MVP表彰された経緯があります。
  </p>
  <p>
現在、ITエンジニア、ITコンサルタントとして働く傍、個人的にオンライン物販ビジネスを行う過程で、経営やビジネスを行うことに興味を持ちました。
<br>相方の岸田とともに、世界をより良くするビジネスを標榜して、日夜研究に励んでいます。
  </p>
</div>

<br>
<br>

<font style="padding:6px 10px; background:#ff9933; color:#ffffff; font-weight:bold;">
  AKI（あき）
</font>
<div style="border:1px solid #ff9933; padding:10px; font-size:0.9em; margin-top:2px;">
  <p>
  １９７８年生まれ。
  </p>
  <p>
現在、ベンチャーで立ち上げた物販ビジネスを行っています。年商１５００万円です。<br>
新しいビジネス機会を検討しており、オンラインカジノがそれと捉えています。
  </p>
  <p>
米国にて、１５歳〜２６歳まで過ごし、米国では会計学、金融学を勉強しました。<br>
２６歳の頃、帰国し、船会社、外資系証券会社、日系金融機関にて、人事部門、広報部門、調査部門、営業部門、IT部門の経験を得ました。
  </p>
  <p>
IT部門においては、スクラッチからIT会社にシステム構築を１００億円弱で依頼し、導入する主要メンバーとなり、成功しました。<br>
本プロジェクトは、もっとも成功したプロジェクトとして表彰を受賞しました。
  </p>
  <p>
現在は、２０１３年より立ち上げた物販ビジネスにおいて、経営、仕入れ、在庫、会計をおこなっています。
  </p>
</div>
